@import "tailwindcss";
@import "github-markdown-css/github-markdown-light.css" layer(base);

@layer base {
  html,
  body {
    min-height: 100svh;
  }

  body {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@theme {
  --color-primary: #0969da;
  --color-secondary: #1f2328;
}
